[project]
name = "sansmic"
description = "Sandia solution mining modeling software"
readme = "README.md"
requires-python = ">=3.9"
version = "1.0.0b0"
license = { file = "LICENSE" }
authors = [
    { name = "SANSMIC authors" },
]
maintainers = [
    { name = "David Hart", email = "dbhart+sansmic@sandia.gov" }
]
dependencies = ["numpy", "pandas", "pyyaml"]
classifiers = [
    "Development Status :: 4 - Beta",
    "License :: OSI Approved :: BSD License",
    'Intended Audience :: End Users/Desktop',
    "Intended Audience :: Science/Research",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: C++",
    "Topic :: Scientific/Engineering",
]

[project.urls]
Issues = "https://github.com/sandialabs/sansmic/issues"
Repository = "https://github.com/sandialabs/sansmic.git"

[project.scripts]
sansmic = "sansmic.app:main"
sansmic-convert = "sansmic.app:convert"

#[project.gui-scripts]
# name = "module:func"

[build-system]
requires = ["setuptools", "pybind11"]
build-backend = "setuptools.build_meta"

[tool.cibuildwheel]
before-all = "uname -a"
skip = ["cp313-*", "pp*"]

[tool.setuptools.package-data]
"sansmic" = ["src/python/sansmic/*.pyd"]

[tool.setuptools.package-dir]
sansmic = "src/python/sansmic"
