pyyaml==6.0.2
pre-commit==3.8.0
pyproject_hooks==1.2.0
pytest==8.3.3
pytest-cov==5.0.0
black==24.8.0
nbmake==1.5.4
matplotlib==3.9.2
python-semantic-release==9.9.0
h5py==3.12.1
openpyxl==3.1.5
tabulate==0.8.0
lasio==0.3.1
