pyyaml==6.0.3
pre-commit==4.3.0
pyproject_hooks==1.2.0
pytest==8.4.2
pytest-cov==7.0.0
black==25.9.0
nbmake==1.5.5
matplotlib==3.10.1
python-semantic-release==10.4.1
h5py==3.14.0
openpyxl==3.1.5
tabulate==0.9.0
lasio==0.32
ipython>=8.10.0