name: Quick Test

on:
  push:
    paths:
      - examples/**
      - src/**
      - tests/**
      - setup.py
      - pyproject.toml
      - .github/workflows/*
    branches:
      - '!main'
      - '!staging'
  pull_request:
    branches:
      - '!main'
      - '!staging'

permissions:
  contents: read

jobs:
  quick-test:
    uses: ./.github/workflows/pytest.yaml
    with:
      verbose: true
    secrets:
      coverage_token: ${{ secrets.CODECOV_TOKEN }}
