# continuous-release.yml

name: Check release

on:
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  check_release:
    runs-on: ubuntu-latest
    concurrency: release

    permissions:
      id-token: write
      contents: write
      pull-requests: write

    steps:
    - name: Setup | Harden Runner
      uses: step-security/harden-runner@91182cccc01eb5e619899d80e4e971d6181294a7 # v2.10.1
      with:
        egress-policy: audit

    - name: Setup | Checkout Repository at workflow sha
      uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4.2.1
      with:
        fetch-depth: 0
        ref: ${{ github.sha }}

    - name: Setup | Force correct release branch on workflow sha
      run: |
        git checkout -B ${{ github.ref_name }} ${{ github.sha }}

    - name: Action | Semantic Version
      id: check
      # Adjust tag with desired version if applicable.
      uses: python-semantic-release/python-semantic-release@657118d28ae4a74d8a387bedf5db2bb7bac0cb33 # v9.11.1
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        build: false
        changelog: false
        commit: false
        push: false
        tag: false
        vcs_release: false

    - name: Action | Comment on PR with new version
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
      run: |
        echo "## The results of python-semantic-release are below." | tee -a "$GITHUB_STEP_SUMMARY"
        echo "* released: %{{ github.check.outputs.released }}" | tee -a "$GITHUB_STEP_SUMMARY"
        echo "* is_prerelease: %{{ github.check.outputs.is_prerelease }}" | tee -a "$GITHUB_STEP_SUMMARY"
        echo "* version: %{{ github.check.outputs.version }}" | tee -a "$GITHUB_STEP_SUMMARY"
        echo "* tag: %{{ github.check.outputs.tag }}" | tee -a "$GITHUB_STEP_SUMMARY"
        # echo "The release number should be %{{ github.check.outputs.version }}" >> release.md
        # gh pr comment ${{ github.event.pull_request.number }} --body "This PR should include a release: ${{ steps.check.outputs.released }}\n"
