name: macOS-14 // CPython 3.9--3.12

on:
  push:
    tags:
      - '*'
    branches:
      - 'main'

permissions:
  contents: read

jobs:
  full-suite:
    strategy:
      fail-fast: false
      matrix:
        version: ["3.9", "3.10", "3.11", "3.12"]
    uses: sandialabs/sansmic/.github/workflows/pytest-workflow.yml@951ebbd277e18b0a5b88a4e67535e262bc59f979
    with:
      version: ${{ matrix.version }}
      os: macOS-latest
    secrets:
      coverage_token: ${{ secrets.CODECOV_TOKEN }}
